//Colors
$background-first-navigation: rgb(249, 249, 249);
$font-color-navigation-with-search: rgb(152, 152, 152);
$color-stonic-menu-icons: rgb(195, 0, 41);
$color-links-main-menu: rgb(54, 54, 54);
$color-block-hover-popupmenu: rgb(121, 0, 17);
$main-menu-links-color: rgb(227, 132, 146);
$color-title-info-about-car-three-blocks: #333;
$color-subtitle-info-three-blocks: #666;
$background-engine-garanty: rgb(247, 247, 247);
$background-power: rgb(238, 238, 239);
$background-undercar-items: rgb(121, 121, 121);
$background-footer: #e4e5e6;
$copyright-text-color: #999;

//Font-size
$font-size-nav-with-search: 0.6875rem;
$body-font-size: 0.8125rem;
$main-menu-links: 1rem;
$button-phone-font-size: 1.0625rem;
$stonic-links-font-size: 0.875rem;
$font-size-title-about-three-blocks: 1.25rem;
$title-to-photo-net-cars: 1.375rem;
$title-dynamic-safety-sections: 2.5rem;
$footer-font-size-appearance-social-links-blocks: 0.75rem;
