#slider-key {
  position: relative;
  #practise-section {
    @include dynamic-safe-sections-background();
    background-image: url("../images/practise-key-slider-background.jpg");
    .practise-wrap {
      color: rgb(0, 0, 0);
      padding: 37px 10px 0 10px;
      text-shadow: rgba(255,255,255,1)0 0 5px;
      .practise-title {
        padding-bottom: 37px;
        .word-practise {
          @include dynamic-safe-sections-title();
        }
      }
      .practise-description {
        .practise-title-description {
          @include dynamic-safety-sections-title-description();
        }
        .under-title-description-practise {
          @include dynamic-safety-sections-description-text();
        }
      }
    }
  }
  #individuality-section {
    @include dynamic-safe-sections-background();
    background-image: url("../images/individuality-key-slider-background.jpg");
    .individuality-wrap {
      color: rgb(0, 0, 0);
      padding: 37px 10px 0 10px;
      text-shadow: rgba(255,255,255,1)0 0 5px;
      .individuality-title {
        padding-bottom: 37px;
        .word-individuality {
          @include dynamic-safe-sections-title();
        }
      }
      .individuality-description {
        .individuality-title-description {
          @include dynamic-safety-sections-title-description();
        }
        .under-title-description-individuality {
          @include dynamic-safety-sections-description-text();
        }
      }
    }
  }
  .owl-dots {
    position: absolute;
    bottom: 84px;
    left: calc(50% - 92px);
    height: 40px;
    button {
      span {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    .owl-dot {
      &:first-child span {
        background-image: url("../images/unactive-dot-1-key-slider.png");
      }
      &:nth-child(2) span {
        background-image: url("../images/unactive-dot-2-key-slider.png");
      }
    }
    .active {
      &:first-child span {
        background-image: url("../images/dot-1-slider-key.png");
      }
      &:nth-child(2) span {
        background-image: url("../images/dot-2-slider-key.png");
      }
    }
  }
}